# .gitignore

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Django
*.db
*.sqlite3
/media/
staticfiles/
*.pyc
.env

# VSCode/PyCharm
.vscode/
.idea/

# Migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]
*/migrations/*.py

#venv
venv_ads/
*.sql
